<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.Mapper.UserMapper">
    
    <resultMap id="UserCourseTeacherMap" type="user">
        <id column="u_id" property="u_id"/>
        <result column="userName" property="userName"/>
        <result column="corp" property="corp"/>
        <collection property="courses" ofType="course">
            <result column="c_id" property="c_id"/>
            <result column="courseName" property="courseName"/>
            <association property="teacher" column="teacherName" javaType="teacher">
                <result property="teacherName" column="teacherName"/>
                <result property="t_id" column="t_id"/>
            </association>
        </collection>
    </resultMap>
    
    <select id="findById" resultMap="UserCourseTeacherMap">
      select t.t_id,c.c_id,u.u_id,u.userName,u.corp,c.courseName,t.teacherName
      from user u
      left join usercourse uc
      on u.u_id=uc.user_id
      left join course c
      on c.c_id=uc.course_id
      left join teacher t
      on t.t_id=c.teacher_id
      where u.u_id=#{id}
    </select>


    <select id="findAll" resultMap="UserCourseTeacherMap" >
      select t.t_id,c.c_id,u.u_id,u.userName,u.corp,c.courseName,t.teacherName
      from user u
      left join usercourse uc
      on u.u_id=uc.user_id
      left join course c
      on c.c_id=uc.course_id
      left join teacher t
      on t.t_id=c.teacher_id
    </select>


    <select id="findAllLimit" resultMap="UserCourseTeacherMap">
      select t.t_id,c.c_id,u.u_id,u.userName,u.corp,c.courseName,t.teacherName
      from user u
      left join usercourse uc
      on u.u_id=uc.user_id
      left join course c
      on c.c_id=uc.course_id
      left join teacher t
      on t.t_id=c.teacher_id limit #{start},#{pageSize}
    </select>
</mapper>